<p>side-nav works!</p>

<mat-accordion multi="true">
  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        New releases
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a>New For Men</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" >New For Women</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" >New For Kids</a>
      </mat-list-item>
      <mat-list-item>
        <a>Shop By Brand</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        Men
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a>Featured</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shoes</a>
      </mat-list-item>
      <mat-list-item>
        <a >Clothing</a>
      </mat-list-item>
      <mat-list-item>
        <a>Hats</a>
      </mat-list-item>
      <mat-list-item>
        <a>Shop by Brand</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>

<!--
<mat-accordion multi="true">
  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        New releases
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a>New For Men</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" >New For Women</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" >New For Kids</a>
      </mat-list-item>
      <mat-list-item>
        <a>Shop By Brand</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        Men
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a>Featured</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shoes</a>
      </mat-list-item>
      <mat-list-item>
        <a >Clothing</a>
      </mat-list-item>
      <mat-list-item>
        <a>Hats</a>
      </mat-list-item>
      <mat-list-item>
        <a>Shop by Brand</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel class="no-shadow my-0">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        Women
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a>Featured</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shoes</a>
      </mat-list-item>
      <mat-list-item>
        <a>Clothing</a>
      </mat-list-item>
      <mat-list-item>
        <a>Hats</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shop by Brand</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel class="no-shadow my-0">
    <mat-expansion-panel-header fxLayout="row" >
      <mat-panel-title>
        Kids
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a >Featured</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shoes</a>
      </mat-list-item>
      <mat-list-item>
        <a >Boy's Clothing</a>
      </mat-list-item>
      <mat-list-item>
        <a>Girl's Clothing</a>
      </mat-list-item>
      <mat-list-item>
        <a >Baby and Toddler</a>
      </mat-list-item>
      <mat-list-item>
        <a >Shop by Trends</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
-->
