<div class="footer" style="padding: 15px;">
  <div class="container">
    <div fxFlex="" fxLayoutAlign="space-between center">
      <div class="about">
        <h1>About</h1>
        <p>When you think about Clobber Hub the brand, words that resonate are elegance, quality, designed and made for South Africans, and most important, comfort.</p>
      </div>
      <div class="help">
        <h1>Help</h1>

        <a>Contact Us</a>
        <br>
        <a>Suggest a Product</a>
        <br>
        <a>Shipping and Delivery</a>
      </div>
      <div class="discover">
        Account
      </div>
    </div>
  </div>
</div>
