.join-us {
  width: 25vw;
}
.form-group button{
  // position: center;
  background-color: #010101;
  color: #f1f1f1;
  margin-left: 25%;
  padding-left: 20%;
  padding-right: 20%;
}
.form-group:hover button{
  position: center;
  background-color: #ffffff;
  color: #010101;
  margin-left: 25%;
  // padding-left: 20%;
  // padding-right: 20%;
  border-color: #010101;
  border-style: solid;
}
